<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SeeO2free | About Us</title>
  <link rel="stylesheet" type="text/css" href="./aboutus.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">

    <!-- section 1 goes from here | section 1 goes from here -->
    <section class="section-1">
      <div class="contacts-bar">
        <div class="contacts-bar-phoneandemail">
          <p>Phone: <a href="tel:+94812333555">0812 333 555</a> &nbsp;&nbsp;&nbsp; Email: <a href="mailto:contact@seeo2free.com">contact@seeo2free.com</a></p>
        </div>
        <div class="contacts-bar-social">
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </section>
    
    <!-- header section goes from here | header section goes from here -->
    <header>
      <nav class="nav-bar">
        <div class="nav-logo">
          <a href="./index.html"><img src="./images/seeo2free.png" alt="Logo"></a>
        </div>
        <div class="nav-menu">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./problem.html">Problem</a></li>
            <li><a href="./solutions.html">Solutions</a></li>
            <li><a href="./aboutus.html">About Us</a></li>
            <li class="nav-donate"><a href="./donate.html">Donate</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- section 2 goes from here | section 2 goes from here -->
    <section class="section-2">
      <div class="section-2-2">
        <h1>+ About Us +</h1>
        <p>Welcome! We are SeeO2free, where innovation meets environmental stewardship. At SeeO2free, we are dedicated to revolutionizing the fight against vehicle carbon emissions. Our cutting edge technologies and solutions are designed to significantly reduce the impact of transportation on air quality, paving the way for a cleaner, healthier planet. Through our relentless commitment to sustainability, we aim to inspire individuals, communities, and industries to embrace eco friendly alternatives and join us in shaping a greener future for generations to come. Join us in our mission to save our air, one vehicle at a time.</p>
        <p><iframe width="600" height="350px" src="https://www.youtube.com/embed/-WgHAVfQ6GA?si=xoyIKsH_pHNRSGe_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></p>
      </div>
    </section>

    <!-- section 3 goes from here | section 3 goes from here -->
    <section class="section-3">
      <div class="section-3-2">
        <img src="./images/seeo2free.png" alt="SeeO2free_Logo">
        <p>Started &mdash; Founded in 2018 with the vision of combating vehicle carbon emissions.</p>
        <p>Founders &mdash; Driven by a team of passionate environmentalists and technologists.</p>
        <p>Country &mdash; Headquartered in Sri Lanka, Colombo 03, but with a global mission.</p>
        <p>Mission &mdash; Dedicated to reducing air pollution caused by vehicle emissions worldwide.</p>
        <p>Innovation &mdash; Pioneering groundbreaking technologies to tackle carbon emissions effectively.</p>
        <p>Impact &mdash; Striving to create a cleaner and healthier environment for future generations.</p>
        <p>Collaboration &mdash; Partnering with governments, industries, and communities to drive change.</p>
        <p>Sustainability &mdash; Committed to promoting sustainable transportation solutions.</p>
        <p>Community &mdash; Engaging with stakeholders to raise awareness and foster collective action.</p>
        <p>Transparency &mdash; Operating with transparency and integrity in all our endeavors.</p>
      </div>
    </section>

    <!-- section 4 goes from here | section 4 goes from here -->
    <section class="section-4">
      <div class="section-4-2">
        <div class="section-4-2-1">
          <h2>Location</h2>
          <p>No: 34/A, Main Road, Colombo 03.</p>
          <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9285.584333464814!2d79.85373648320409!3d6.903323546851316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25960d359dbbf%3A0xd64947e9ab7a4c4f!2sColombo%2003%2C%20Colombo!5e0!3m2!1sen!2slk!4v1714455158531!5m2!1sen!2slk" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        </div>
        <div class="section-4-2-2">
          <h2>Contact Us</h2>
          <p>Tel: <a href="tel:+94812333555">0812 333 555</a></p>
          <p>Email: <a href="mailto:contact@seeo2free.com">contact@seeo2free.com</a></p>
        </div>
      </div>
    </section>

    <!-- section 5 goes from here | section 5 goes from here -->
    <section class="section-5">
      <div class="section-5-2" id="app">
        <h2>Feedbacks</h2>
        <p class="section-5-2-para">Share your thoughts and experiences with us to help improve our service!</p>
        <form @submit.prevent="addComment">
          <label for="f-name">Name:</label><br>
          <input id="f-name" type="text" v-model="newComment.name" placeholder="Enter your name here" required><br><br>
          <label for="f-msg">Feedback:</label><br>
          <textarea id="f-msg" v-model="newComment.comment" placeholder="Enter your feedback here" required></textarea><br><br>
          <button type="submit">Submit to Forum</button>
        </form>
        <div class="section-5-2-comments" v-for="comment in comments">
          <h3>{{ comment.name }}</h3>
          <p>{{ comment.comment }}</p>
        </div>
      </div>

    <!-- footer goes from here | footer goes from here -->
    <footer>
      <div class="footer-2">
        <div class="details">
          <div class="details-texts">
            <img src="./images/seeo2free.png">
            <h6>No: 34/A, Main Road,<br>Colombo 03</h6>
            <p><a href="tel:+94812333555">0812 333 555</a></p>
            <p><a href="mailto:contact@seeo2free.com">contact@seeo2free.com</a></p>
          </div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-tumblr"></i></a></li>
              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-box">
          <h5>SUPPORT</h5>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Join Team</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer-box">
          <h5>SO FAR</h5>
          <ul>
            <li><a href="#">Our Mission</a></li>
            <li><a href="#">Our Vision</a></li>
            <li><a href="#">Projects Done</a></li>
            <li><a href="#">Donations</a></li>
          </ul>
        </div>
        <div class="footer-box">
          <h5>OTHERS</h5>
          <ul>
            <li><a href="#">Policy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Others</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <!-- section 7 goes from here | section 7 goes from here -->
    <section class="section-7">
      <p>www.SeeO2free.com | Copyright © 2018-2024 All Rights Reserved. Designed by Pramod B.</p>
    </section>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="./aboutus.js"></script>
  <script src="https://kit.fontawesome.com/09a59f5e9c.js" crossorigin="anonymous"></script>
</body>

</html>