* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
:root {
  --color-1: #1E0342;
  --color-2: #7BC9FF;
  --color-3: #FFD1E3;
  --color-4: #e2f3ff;
  --color-5: #8576FF;
  --color-6: #0F2E5F;
  --color-7: #0E46A3;
  --color-8: #070F2B;
}

/* section 1 styles goes from here | section 1 styles goes from here */
.section-1 {
  background-color: var(--color-1);
}
.contacts-bar {
  width: 80%;
  margin: 0 auto;
  padding: 5px 0;
}
.contacts-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-bar-phoneandemail p {
  font-size: 0.85em;
  color: var(--color-3);
}
.contacts-bar-phoneandemail p a:hover {
  text-decoration: underline;
}
.contacts-bar-social ul li {
  display: inline;
  margin-left: 20px;
  font-size: 0.85em;
  color: var(--color-3);
}
.contacts-bar-social ul li a i {
  transition: all 0.3s ease;
}
.contacts-bar-social ul li a i:hover {
  transform: scale(1.2);
}

/* header styles goes from here | header styles goes from here */
header {
  background: linear-gradient(to right, var(--color-7), var(--color-5));
  opacity: 0.85;
  /* position: fixed;
  width: 100%; */
}
.nav-bar {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo a img {
  width: 170px;
}
.nav-menu ul li {
  display: inline;
  color: var(--color-4);
  padding: 30.5px 20px;
  transition: all 0.2s ease;
}
.nav-menu ul li:hover {
  color: var(--color-4);
  background-color: var(--color-6);
}
.nav-donate {
  background-color: #702cc8
}

/* section 2 styles goes from here | section 2 styles goes from here */
.section-2 {
  background-color: #fff;
}
.section-2-2 {
  width: 80%;
  margin: 0 auto;
}
.section-2-2 h1 {
  font-size: 2.2em;
  text-align: center;
  margin: 30px 0;
  letter-spacing: 2px;
  font-weight: 600;
  color: var(--color-1);
}
.section-2-2 p {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: justify;
  margin-bottom: 40px;
  color: var(--color-6);
}

/* section 3 styles goes from here | section 3 styles goes from here */
.section-3 {
  background-color: var(--color-3);
}
.section-3-2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-3-2-1 img {
  width: 720px;
  height: 520px;
}
.section-3-2-2 {
  margin: 0 30px;
}
.section-3-2-2-0 h4 {
  font-size: 1.4em;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color-1);
}
.section-3-2-2-0 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
  color: var(--color-6);
}
.section-3-2-2-1 p, .section-3-2-2-2 p, .section-3-2-2-3 p {
  padding-bottom: 30px;
}

/* section 4 styles goes from here | section 4 styles goes from here */
.section-4-2 {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}
.section-4-2 h2 {
  text-align: center;
  color: var(--color-1);
  font-size: 1.8em;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 30px 0;
}
.section-4-2 p {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: justify;
  color: var(--color-6);
}

/* section 5 styles goes from here | section 5 styles goes from here */
.section-5 {
  background-color: #fff;
  margin-bottom: 60px;
}
.section-5-2 {
  width: 400px;
  margin: 0 auto;
  background-color: var(--color-1);
  border-radius: 7px;
}
.section-5-2 h3 {
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  color: var(--color-2);
  padding: 30px 0 40px 0;
}
.section-5-2 label {
  margin-bottom: 10px;
  display: block;
  font-size: 0.9em;
  margin-left: 30px;
  letter-spacing: 1px;
  color: var(--color-4);
}
.section-5-2 input {
  width: 80%;
  height: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 20px;
}
.section-5-2 button {
  background-color: var(--color-2);
  color: var(--color-1);
  font-weight: 500;
  font-size: 0.9em;
  letter-spacing: 1px;
  padding: 10px 135px;
  margin: 20px 0 40px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.section-5-2 button:hover {
  background-color:var(--color-7);
  color: var(--color-2);
}
#result {
  color: var(--color-4);
  font-size: 1.1em;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* footer styles goes from here | footer styles goes from here */
footer {
  background-color: var(--color-8);
  padding: 40px 0;
}
.footer-2 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.details {
  color: var(--color-3);
}
.details-texts img {
  width: 145px;
}
.details-texts h6 {
  font-weight: 400;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.details-texts p {
  font-size: 0.9em;
  margin-bottom: 5px;
}
.details-texts a:hover {
  text-decoration: underline;
}
.social-media ul li {
  display: inline;
  margin-right: 10px;
  font-size: 0.85em;
  color: var(--color-3);
}
.social-media ul li a i {
  transition: all 0.3s ease;
}
.social-media ul li a i:hover {
  transform: scale(1.2);
}
.footer-box h5 {
  font-size: 1.1em;
  padding-bottom: 15px;
  color: var(--color-5);
  letter-spacing: 1px;
}
.footer-box li {
  padding-bottom: 10px;
}
.footer-box a {
  color: var(--color-3);
  font-size: 0.9em;
}
.footer-box a:hover {
  text-decoration: underline;
}

/* section 7 styles goes from here | section 7 styles goes from here */
.section-7 {
  background-color: var(--color-1);
}
.section-7 p {
  font-size: 0.9em;
  color: var(--color-7);
  text-align: center;
  padding: 20px 0;
}
